<!DOCTYPE html>
<html>
    <head>
        <title>Go-Cron</title>
        <link rel="stylesheet" href="../public/styles/index.css">
    </head>

    <body>

        <header>
            <div class="header">
                <h2>GO-CRON</h2>
            </div>
        </header>


        <main>
            <div class="row flex">
                <div class="clock card">
                    <div class="clock-label card-label">Current Time</div>
                    <div class="clock-timer" id="current">0.00</div>

                    <br>
                    <br>

                    <div class="progress-bar-wrapper">
                        <div class="progress-label"><span id="progress"></span></div>
                        <div class="progress-bar"></div>
                    </div>
                    <br>

                    <div class="progress-roadmap flex">
                        <div>
                            <div class="card-label">START</div>
                            <div class="p" id="prev">{{ .PrevExecution }}</div>
                        </div>
                        <div>
                            <div class="card-label">END</div>
                            <div class="p" id="next">{{ .NextExecution }}</div>
                        </div>
                    </div>

                </div>

                <div class="card indicator">
                    <div class="card-label">Number of Executions</div>
                    
                    <br>

                    <div class="p">The number of times your cron job has executed.</div>

                    <div class="counter flex">
                        <div class="counter-value" id="counter">{{ .Counter }}</div>
                    </div>
                </div>
            </div>

            <br>

            <div class="row flex">

                <div class="card">
                    <div class="card-label">Cron Job</div>
                    
                    <br>
                    
                    <div class="p">
                        <div>Job started at <b id="start-exec">{{ .JobStartTime }}</b>.</div>
                        <div>Job ended at <b id="end-exec">{{ .JobEndTime }}</b>.</div>
                        <div>Time taken for the execution is <b id="info-exec">0</b>.</div>
                    </div>

                    <br>    

                    <div>
                        <div class="bullet-row is-active bullet-row--stop"><div class="bullet bullet--stop"></div>&nbsp;&nbsp;&nbsp;<div class="bullet-label">Stopped</div></div>
                        
                        <br>

                        <div class="bullet-row bullet-row--start"><div class="bullet bullet--run"></div>&nbsp;&nbsp;&nbsp;<div class="bullet-label">Running</div></div>
                    </div>
                </div>

                <div class="card">
                    <div class="card-label">Cron Info</div>
                    
                    <br>
                    
                    <div class="p">
                        <div>Started <b id="name">{{ .JobName }}</b> version <b id="version">{{ .Version }}</b>  at <b id="start">{{ .StartTime }}</b>.</div>
                        <div>Specification is <b id="spec">{{ .Spec }}</b></div>
                    </div>

                    <br>

                    <div>
                        <div> <span class="p status-label">Status:</span> <span id="status"></span></div>

                        <br>

                        <div class="button-toggle-wrapper is-active">
                            <div class="button-toggle"></div>
                        </div>
                    </div>
                </div>
            </div>
        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script src="../public/scripts/raf-shim.js"></script>
        <script src="../public/scripts/index.js"></script>
    </body>
</html>
