<!DOCTYPE html>
<html>
    <head>
        <title>Go-Cron</title>
        <link rel="stylesheet" href="../public/styles/index.css">
    </head>

    <body>

        <header>
            <h1>Go-Cron</h1>
        </header>


        <main>
            <br>
            <div class="clock-wrapper flex">
                <div class="clock">
                    <div class="clock-label">Current Time:</div>
                    <div class="clock-timer" id="current">0.00</div>

                    <div class="progress-label"><span id="progress"></span>%</div>
                    <div class="progress-bar-wrapper">
                        <div class="progress-bar"></div>
                    </div>

                </div>
                <div class="indicator">
                    <div class="indicator-prev">
                        <div class="indicator-label">Prev:</div>
                        <div class="indicator-value" id="prev">{{ .PrevExecution }}</div>
                    </div>
                    <div class="indicator-next">
                        <div class="indicator-label">Next:</div>
                        <div class="indicator-value" id="next">{{ .NextExecution }}</div>
                    </div>
                </div>
            </div>

            <br>

            <div id="status">Offline</div>

            <div id="start-exec"></div>
            <div id="end-exec"></div>
            <div id="info-exec"></div>
            
            <div class="info">
                <div><b>Start Time:</b> <span id="start">{{ .StartTime }}</span></div>
                <div><b>IsExecuting:</b> <span id="executing">{{ .IsExecuting }}</span></div>
                <div><b>IsRunning:</b> <div id="status"><span id="running" class="{{ .IsRunning }}"></span></div>Running</div>
                <div><b>Version:</b> <span id="version">{{ .Version }}</span></div>
                <div><b>Counter:</b> <span id="counter">{{ .Counter }}</span></div>
                <div><b>JobName:</b> <span id="name">{{ .JobName }}</span></div>
                <div><b>Spec:</b> <span id="spec">{{ .Spec }}</span></div>

                <div><b>Progress:</b> <span id="progress"></span>%</div>

                <button>Start</button>
                <button>Stop</button>
                <button>Update</button>
            </div>
        </main>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/moment.js/2.18.1/moment.min.js"></script>
        <script src="../public/scripts/raf-shim.js"></script>
        <script src="../public/scripts/index.js"></script>
    </body>
</html>
